<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container navbar-container">
        <div class="navbar-header">
            <a class="navbar-brand" href="https://montanastorytelling.github.io/">
                <span><img src="{{"/assets/img/storytelling-logo-transparent-64x64.png" | relative_url }}" alt="Logo">
                </span>
            </a>
            <span style="padding-left: 0rem;" class="navbar-brand hidden-sm hidden-md hidden-lg">
                <span>{{site.title}}</span>
            </span>
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <div id="navbar" class="collapse navbar-collapse">

            <ul class="nav navbar-nav">
                <li class="dropdown {% if site.subsiteid =='alice-lessons' %}active{% endif %}">
                    <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">Alice Lessons<span
                            class="caret"></span></a>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li>
                            <a href="/alice-lessons/">Lesson Plans</a>
                        </li>
                        <li>
                            <a href="/alice-lessons-pd/">Professional Development</a>
                        </li>
                    </ul>
                </li>

                <li class="dropdown {% if site.subsiteid =='ledger-art' %}active{% endif %}">
                    <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">Ledger Art<span
                            class="caret"></span></a>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li>
                            <a href="/ledger-art/">Lesson Plans</a>
                        </li>
                        <li>
                            <a href="/ledger-art-pd/">Professional Development</a>
                        </li>
                        <li>
                            <a href="/ledger-art-pd-selfstudy/">At-Home Professional
                              Development</a>
                        </li>
                    </ul>
                </li>
                <li {% if page.sectionid=='outreach' %} class="active" {% endif %}>
                    <a href="/outreach/">Outreach</a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">More<span
                            class="caret"></span></a>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li {% if page.sectionid=='publications' %} class="active" {% endif %}>
                            <a href="/pubs/">Publications</a>
                        </li>
                        <li {% if page.sectionid=='team' %} class="active" {% endif %}>
                            <a href="/team/">Our Team</a>
                        </li>
                        <li {% if page.sectionid=='about' %} class="active" {% endif %}>
                            <a href="https://www.montana.edu/storytelling/">About</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
</nav>
